@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oranienbaum&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #4e7bae;
	background-size: calc(3vw + 10px) calc(3vw + 10px);; /* Adjust the size of the grid lines */
}

html, body {
    margin: 0;
    padding: 0;
}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.loading-message {
	color: #fff;
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	margin-bottom: 16px;
}

#apple-logo {
	position: absolute;
	line-height: 0;
	width: 100%;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	color: white;
	max-height: 5rem;
	margin-top: -8rem;
	align-items: center;
}

.hidden {
	display: none;
}


pageDiv {
	text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.title-container {
    position: absolute;
    left: 50%;
    top: 30%;
	width: 90%;
    transform: translate(-50%, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: -1;
	line-height: .8;
	text-align: justify;
	-webkit-text-stroke-width: 2px;
	-webkit-text-fill-color: #ffffff;
	-webkit-text-stroke-color: #ffffff;
}

/* Default style */
.info {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	-webkit-text-stroke-width: 0px;
	font-size: calc(2vw + 20px);
	white-space: nowrap;
    text-align: left;
	text-shadow: none;
	-webkit-text-stroke-color: none;
	-webkit-text-fill-color: #efe7d4;
}

.producers {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	-webkit-text-stroke-width: 0px;
	font-size: calc(1vw + 20px);
	white-space: nowrap;
    text-align: left;
	text-shadow: none;
	-webkit-text-stroke-color: none;
	-webkit-text-fill-color: #efe7d4;
}


.supplementalInfo {
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap to the next line when needed */
	position: absolute;
    left: 50%;
    top: 70%;
	width: 90%;
	z-index: -1;
    transform: translate(-50%, -50%);
	font-size: calc(1vw + 15px);
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	white-space: nowrap;
  }

html {
	overflow: hidden;
}

h1 {
	margin-right: 20px;
	font-size: 20px;
}

h2 {
	margin-right: 30px;
	font-size: 14px;
}

#info {
	position: absolute;
	line-height: 0;
	bottom: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
	text-align: right;
	font-family: 'Kanit', sans-serif;
	color: white;
}

.button-81 {
  background-color: #efe7d4;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #4e7bae;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-stroke-width: 0px;
  font-size: 1.1rem;
  line-height: .2;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #88b1ce;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

#buy {
	position: absolute;
	line-height: 0;
	bottom: 10px;
	width: 55%;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	text-align: right;
	font-family: 'Kanit', sans-serif;
	color: white;
	font-weight: 900;
}